[submodule "nfsim"]
	path = nfsim
	url = https://github.com/RuleWorld/nfsim.git
	branch = nfsim_lib_shared_ptr
[submodule "nfsimCInterface"]
	path = nfsimCInterface
	url = https://github.com/mcellteam/nfsimCInterface
[submodule "bionetgen"]
	path = bionetgen
	url = https://github.com/RuleWorld/bionetgen
