_build
Makefile.in
aclocal.m4
autom4te.cache
compile
depcomp
ylwrap
version.h
mcell
mdlparse.c
mdlparse.h
mdllex.c
mdllex.h
opt
.DS_store
*.pyc
build
test.cfg
test_results
config.h.in*
config.h
config.log
config.status
stamp-h1
.deps
*.exe
*.bat
*.swp
.docstates.suo
tags*
.tags*
*sublime*
.idea
*cscope*
dyngeom_parse
!windows/*
_mcellSwig.so
mcellSwig.py
mcellSwig_wrap.c
docs/doxygen
pymcell.py
pymcell_wrap.c
_pymcell*.so
MANIFEST
dist
.mypy_cache
.ipynb_checkpoints
sphinx_env
mcell_venv
/.buildconfig
/build-ref/
