[submodule "nfsim"]
	path = nfsim
	url = https://github.com/mcellteam/nfsim.git
	branch = mcell_testing_infrastructure
  ignore = dirty
[submodule "nfsimCInterface"]
	path = nfsimCInterface
	url = https://github.com/mcellteam/nfsimCInterface
	branch = mcell_testing_infrastructure
  ignore = dirty
[submodule "bionetgen"]
	path = bionetgen
	url = https://github.com/RuleWorld/bionetgen

