recursive-include mcell/src *
recursive-include appveyor_windows *.h
recursive-include include *.h

# make sure to grab everything
recursive-include nfsim *
recursive-include nfsimCInterface *
recursive-include bionetgen/bng2 *

global-include CMakeLists.txt *.cmake
